#menu_text {
    color: rgb(86 99 247);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#menu {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#menu ul {
    list-style: none;
    padding: 0;
}
#menu li {
    margin-bottom: 2vh;
}
#botao {
    width: 10vh;
    margin-top: 1vh;
    margin-left: 14vh;
}
#botao2 {
    width: 10vh;
    margin-top: 1vh;
}
#pan {
    padding-bottom: 5vh;
}
.center h1 {
    color: rgb(86 99 247);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 80vh;
    height: 35vh;
    margin-left: auto;
    margin-right: auto;
    border: 1px;
    border-style: solid;
    border-color: rgb(86 99 247);
}
.container1-1 {
    width: 100%;
    min-height: 4vh;
    border: 1px;
    color: white;
    font-size: 20px;
    font-family: helvetica;
    border-style: solid;
    background-color: rgb(86 99 247);
    border-color: rgb(86 99 247);
    overflow: hidden;
    text-overflow: ellipsis;
}
.container1-1 p {
    margin-top: 2px;
    padding: 0.5vh 0.5vw;
}
.container2 {
    width: 80vh;
    height: 18vh;
    margin-left: auto;
    margin-right: auto;
    border: 1px;
    border-style: solid;
    border-color: black;
}
.p_cadastro {
    color: green;
}
.position {
    padding-top: 4vh;
}
.position p{
    color: rgb(86 99 247);
    position: absolute;
    margin:0;
}
#bopt {
    margin-left: 10vh;
    width: 2vh;
}
.position {
    padding-top: 4vh;
}
.position p{
    color: rgb(86 99 247);
    position: absolute;
    margin: 0;
}
.position input{
    margin-left: 10vh;
    width: 30vh;
}
.position select{
    margin-left: 10vh;
} 
.position2 {
    padding-top: 10vh;
}
.center2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4vh;
    width: 150px;
    height: 150px;
}
.pand{
    padding-bottom: 5vh;
}